/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Manrope:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}
/*topheader*/
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
  z-index: 10;
  flex-wrap: nowrap;
}

.top-header .logo img {
  max-width: 150px;
  height: auto;
  display: block;
}

.menu_horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.menu_horizontal li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  font-size: 1rem;
}

.menu_horizontal a {
  text-decoration: none;
  color: #0D171C;
  font-family: 'Manrope', sans-serif;
  padding: 5px 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu_horizontal a:hover {
  color: #1AB2E5;
}

.menu_vertical{
  position: absolute;
  display: none;
  list-style: none;
  background-color: rgb(202, 201, 201);
  width: 100%;
  top: 2rem;
  left: 0;
  border-radius: 15px;
  padding: 15px 60px;
  min-width: 200px;
  z-index: 100;
}

.menu_vertical li {
  padding: 10px 0;
}

.menu_horizontal li:hover .menu_vertical {
  background-color: #b3b2b2;
  display: block;
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 15px;
  transition: background-color 0.3s ease;
  width: 200px; /* Ajusta el ancho */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%);
}


.menu_vertical li a {
  color: #0D171C;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.btn {
  background-color: #1AB2E5;
  color: #0D171C;
  font-family: 'Manrope', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
}
.btn:hover {
  background-color: #159fd3;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}


@media (max-width: 815px) {
  .menu_horizontal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    background-color: #d1d0d0;
    border-radius: 20px;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 99;
  }
  .btn {
    background: none;
    border: none;
    color: #0D171C;
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .btn:hover {
    background-color: #d1d0d0;
    color: #0D171C;
    font-weight: bold;
  }

  .menu_horizontal.active {
    display: flex;
  }

  .menu_horizontal li {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}

/*Section Hero*/
.hero {
  width: 100%;
  display: flex;
  justify-content: center; /* centrar el contenido */
  padding: 40px 0; /* espacio arriba y abajo */
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 1100px; /* cambia este valor según tu diseño */
  border-radius: 12px;
  margin: 0 auto; /* centrar el contenedor */
  padding: 0 1rem; /* espacio horizontal */
  overflow: hidden;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 40px; /* Espacio entre botones */
  flex-wrap: wrap; /* Por si en móviles deben bajar */
  margin-top: 1rem;
  margin-top: 10%;
  cursor: pointer;
}
.botones a {
  text-decoration: none;
}

.btn-azul {
  background-color: #00bfff;
  color: #0D171C;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-blanco {
  background-color: white;
  color: #0D171C;
  padding: 12px 35px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn-azul:hover {
  background-color: #159fd3;
}

.btn-blanco:hover {
  background-color:#d1d0d0;
}


.hero-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  max-width: 100%;
  width: 100%;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  max-width: 100%;
  line-height: 1.2;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .hero-content h1 {
    padding: 0 20px;
    font-size: 1.5rem;
  }
}
.hero-content p {
  margin: 0 auto;
  max-width: 90%;
}

/*Caracteristicas*/
.caracteristicas-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 10rem;
}

.caracteristicas-container h2{
  font-size: 3rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}
.card {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  background-color: #d1d0d0;
}
.card img {
  width: 25px;
  height: auto;
  margin-bottom: 15px;
}
.card h3 {
  font-size: 1.2rem;
  color: #333;
}
.card p {
  font-size: 0.95rem;
  color: #555;
}

/*contacto*/
.contacto {
  padding: 60px 20px;
  background-color: #ffffff;
}

.contacto-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contacto-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contacto-container p {
  font-size: 1rem;
  margin-bottom: 40px;
  color: #555;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #2e86de;
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #1e6bc1;
}
.contacto-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.contacto-imagen {
  flex: 1;
  min-width: 250px;
}

.contacto-imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.formulario-contacto {
  flex: 1;
  min-width: 300px;
}
@media (max-width: 768px) {
  .contacto-flex {
    flex-direction: column;
  }
}

/*preguntas*/
.preguntas {
  background-color: #f4f9fc;
  padding: 60px 20px;
  text-align: center;
}

.preguntas-container {
  max-width: 900px;
  margin: 0 auto;
}

.preguntas h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #0D171C;
}

.preguntas-item {
  text-align: left;
  margin-bottom: 25px;
  padding: 20px 20px 30px 40px;
  border-left: 4px solid #1AB2E5;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.preguntas-item:hover {
  background-color: #d1d0d0;
  transform: translateY(-5px);
}
.preguntas-item h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #0D171C;
}
.preguntas-item p {
  margin: 0;
  color: #555;
}

/*Footer*/
footer {
  background-color: #1e2a38;
  color: #ffffff;
  padding: 40px 0;
  font-family: 'Manrope', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  text-decoration: underline;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #00c3ff;
}

.footer-texto p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-column.social a {
  margin-right: 15px;
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.3s;
}

.footer-column.social a:hover {
  color: #00c3ff;
}

.footer-copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 0.85rem;
  color: #ccc;
}


